@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Liter&display=swap');

:root {
  --primary-color: #1e90ff; 
  --secondary-color: #ff8c00; 
}

body {
  font-family: "Liter", serif;
  font-weight: 600;
  font-style: normal;
}

.header {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.header-title {
  margin: 0;
}

.main {
  text-align: center;
}

.main-description {
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-color);
}

.task-input {
  padding-bottom: 15px;
}

.task-input input {
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid var(--secondary-color);
  margin-bottom: 15px;
  outline: none;
  width: 50%;
  font-size: 20px;
}

.task-input button {
  padding: 10px;
  margin-left: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
}

.task-input button:hover {
  background-color: var(--primary-color);
}

.filter button {
  padding: 10px;
  margin: 5px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.filter button:hover {
  background-color: var(--secondary-color);
}

.task-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 70px;
}

#task-list li {
  list-style-type: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 15px;
  border-radius: 8px;
  width: 100%;
  font-size: 20px;
  border-left: 5px solid var(--primary-color);
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

#task-list span {
  text-align: center; 
  flex-grow: 1; 
}

#task-list button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  margin-left: 10px; 
}

#task-list button:hover {
  background-color: var(--secondary-color);
}

.completed {
  text-decoration: line-through;
  color: var(--primary-color);
}
